* {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-color: #222831;
  overflow-x: hidden;
}

.nav {
  display: flex;
  gap: 16px;
}

.nav {
  z-index: 99999px;
}

#navbar2 {
  right: -100%;
  position: fixed;
  display: block;
  transition: all 0.3s ease;
}

#navbar2.show {
  right: 0;
}

i {
  cursor: pointer;
}

.projek {
  transition: all 0.3s ease;
}

.projects:hover .projek {
  bottom: 0;
}



    /* membuat container atau wadah dari scrollbar dengan lebar 20px  */
    ::-webkit-scrollbar {
      width: 20px;
    }

    /* membuat background dari scrollbar */
    /* kasih warna transparan agar lebih estetik  */
    ::-webkit-scrollbar-track {
      background-color: transparent;
    }

  
    /* membuat styling pada batang atau bar scrollbar  */
    /* kita beri warna abu tua dengan lengkungan di sisi atas dan bawahnya  */
    ::-webkit-scrollbar-thumb {
      background-color: #222831;
      border-radius: 20px;
      border: 6px solid transparent;
      background-clip: content-box;
    }

    /* warna akan berubah menjadi abu mudah saat kursor diarahkan  */
    ::-webkit-scrollbar-thumb:hover {
      background-color: #a8bbbf;
    }